[tool.poetry]
name = "bioat"
version = "0.1.1.5"
description = "Bioinformatic toolkit with python (It's still under development!)"
license = "MIT"
authors = ["Herman Zhao <hermanzhaozzzz@gmail.com>"]
repository = "https://github.com/hermanzhaozzzz/BioinformaticAnalysisTools"
homepage = "https://github.com/hermanzhaozzzz/BioinformaticAnalysisTools"
# README file(s) are used as the package description
readme = "README.md"


[tool.poetry.dependencies]
# Compatible Python versions
python = "^3.11"
pandas = "^1.5.3"
numpy = "^1.24.1"
tqdm = "^4.64.1"
pip = "^23.0"
fire = "^0.5.0"

[tool.poetry.scripts]
bioat = "bioat._cli:main"
bioat_fastatools = "bioat.fasta._cli:main"
bioat-table-merge-table = "bioat.table.merge_table:main"

[tool.poetry.group.dev.dependencies]
pytest = "^7.1.3"
pytest-cov = "^3.0"

# ...and can be installed only when explicitly requested
[tool.poetry.group.docs]
optional = true

[tool.poetry.group.docs.dependencies]
Sphinx = "^5.1.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
