[tool.poetry]
name = "bioat"
version = "0.12.9"
description = "Bioinformatic toolkit with python"
license = "MIT"
authors = ["Herman Zhao <hermanzhaozzzz@gmail.com>"]
repository = "https://github.com/hermanzhaozzzz/bioat"
homepage = "https://github.com/hermanzhaozzzz/bioat"
# README file(s) are used as the package description
readme = "README.md"


[tool.poetry.dependencies]
# Compatible Python versions
python = ">=3.10.0"
pandas = ">=1.5"
numpy = ">=1.24.1"
tqdm = ">=4.64.1"
fire = ">=0.5.0"
pysam = ">=0.20.0"
biopython = ">=1.80"
matplotlib = ">=3.7.1"
tabulate = ">=0.9.0"
statsmodels = ">=0.13.5"
requests = ">=2.31.0"
bs4 = ">=0.0.1"
coloredlogs = ">=15.0.1"
psutil = "^5.9.8"
openpyxl = "^3.1.2"
matplotlib-inline = "^0.1.7"
dna-features-viewer = "^3.1.3"

[tool.poetry.scripts]
bioat = "bioat.__main__:main"

[tool.poetry.group.dev.dependencies]
pytest = ">=7.1.3"
pytest-cov = ">=3.0"

# ...and can be installed only when explicitly requested
ipykernel = "^6.29.4"
[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
