[tool.poetry]
name = "bioat"
version = "0.1.1.2"
description = "Bioinformatic toolkit with python (It's still under development!)"
license = "MIT"
authors = ["Herman Zhao <hermanzhaozzzz@gmail.com>"]
repository = "https://github.com/hermanzhaozzzz/BioinformaticAnalysisTools"
homepage = "https://github.com/hermanzhaozzzz/BioinformaticAnalysisTools"
# README file(s) are used as the package description
readme = "README.md"


[tool.poetry.dependencies]
# Compatible Python versions
python = "^3.10"
pandas = "^1.5.0"
numpy = "^1.23.3"
tqdm = "^4.64.1"
pysam = "0.19.1"
pip = "^22.2.2"
cleo = "^0.8.1"
fire = "^0.4.0"

[tool.poetry.scripts]
bioat = "bioat.console.commands.application:main"

[tool.poetry.group.dev.dependencies]
pytest = "^7.1.3"
pytest-cov = "^3.0"

# ...and can be installed only when explicitly requested
[tool.poetry.group.docs]
optional = true

[tool.poetry.group.docs.dependencies]
Sphinx = "^5.1.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
